#col-der {
  background-image: url("../assets/fondoLogin.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.4;
}

/* #col-izq {
  background-color: rgb(19, 20, 39);
} */

#btnIngresar {
  background: #2639575a;
}

#btnRegistrar {
  background: #2639575a;
}
